*.class

# Package Files #
*.jar
*.war
*.ear

# other stuff
*.java.txt
*.wav
*.java~
Xholon/README_SuperDevMode.txt
Xholon/gwt-unitCache/
Xholon/import/
Xholon/reports/
Xholon/src/org/primordion/ef/nosql/neo4jRestApiPostExample.txt
Xholon/src/org/public/lib/Lib/
Xholon/src/org/public/lib/libs/
Xholon/src/org/public/lib/xhSvgTween
Xholon/war/WEB-INF/
Xholon/war/icons/
Xholon/war/twine/Cell - BioSystems springy.html
Xholon/war/xholon/
Xholon/www-test/
workbook/
