/** CSS for XholonAQL*.html */
body {
  color: black;
  background: aliceblue;
  font-size: 100%;
}
div#xhanim {
  /** height: 900px; */
}
span#caption {
  font-family: Georgia, serif;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 1;
}
textarea#screenplay {
  border-style: none;
}
div#xhsvg>div>svg {
  /** margin: 0.5em 0em 0em 0em; */
  /** margin: 0 auto; */
}
div#xhsvg {
  /** width: 800px; */
}
div#xhsvg>div {
  /** display: inline; */
  /** margin-left: 0em; */
  width: 150px;
  margin: 0 auto;
}
div#xhsvg>div>svg>g>rect {
  fill: #98FB98;
}
div#xhsvg>div>svg>g>path {
  fill: grey;
  stroke-width: 1px;
  /* stroke: rgb(169,169,169); this has to be done within the path element */
}
div#xhleft, div#xhright {
  display: inline-block;
}
div#xhright {
  width: 900px;
}
g[id*="sceneLocation"]>text {
  fill:Navy;
}

